.container {
  padding: 130px;
  display: flex;
}

.book-img {
  width: 400px;
  justify-self: center;
}

.book-img img {
  display: block;
  margin: 0 auto; 
  max-width: 2  00px;
}

.box {
  background: #000;
  width: 400px;
  padding: 10px;
  border-radius: 8px 0px 8px 0px;
  color: white;
}

span {
  font-style: italic;
}

.descricao {
  font-size: 1.6rem;
}

.btn-int {
  font-size: 1.9rem;
  border: solid 2px black;
  padding: 10px 20px;
  display: inline-block;
  margin: 20px auto 0 auto;
  text-align: center;
  color: black;
  text-transform: uppercase;
}

.btn-int:hover {
  background: #000;
  color: white;
  border: solid 2px white;

}

.barra{
  width: 150px;
  height: 30px;
  margin-top: 10px;
  position: relative;
}

.barra .bg{
  float: left;
  height: 30px;
  width: 30%;
  background: linear-gradient(to bottom, #fee24f, #f4bb2f);
}

.estrelas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star{
  float: left;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
}

.star .starAbsolute{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/starpng.png);
  background-size: cover;
}

.star.full{
  background: linear-gradient(to bottom, #fee24f, #f4bb2f);
}

.msg{
  color: black;
  position: absolute;
  left: 50%;
  right: 50%;
  width: 639px;
  height: 75px;
  z-index: 9999999;
  border-radius: 8px;
  text-align: center;
  font-size: 2.5rem;
  transform: translate(-50%, -50%);
}