.book__description {
  background: #1f1d25;
  color: #fff;  
  font-size: 20px;
  display: flex;
  padding-top: 12rem;
  height: 95vh;
  justify-content: center;
}

.exemplodelivros{
  width: 860px;
  height: 650px;
  border-radius: 1%;
}

.description{
 margin-left: 1.6rem;
}