*{
  margin: 0;
}

.header{
  top: 0;
}

body {
  background: rgb(224, 224, 224);

}

h1{
  margin-top: 20px;
  margin-bottom: 10px;
}

.form {
  padding: 0 50px;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 400px;
  margin: 0 center;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 28px;
  margin-top: 130px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form > * {
  width: 100%;
}


.form__input {
  padding: 5px;
  top:100%;
  background: #eee;
  border: none;
}

.form__label {
 font-size: 14px;

}

input[type=submit] {
  border-radius: 20px;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
