.form {
  padding: 100px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 100px;
  padding-left: 500px;
}

.form > * {
  width: 50%;
}


.form__input {
  padding: 5px;
  top:100%;
  background: #f6f5f7;
  border: 5px solid #f6f5f7;
}

.form__label {
 font-size: 20px;

}
