@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");

body {
  font-family: "Arvo", serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Hind", sans-serif;
  box-sizing: border-box;
}

.testimonial-section {
  background: #f1f1f1;
  padding: 164px 0;
  text-align: center;
}

.inner-width {
  max-width: 1200px;
  max-height: 1200px;
  margin: auto;
  padding: 0 20px;
}

.testimonial-section h1 {
  font-weight: 400;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.testimonial-pics {
  padding: 40px 0;
}

.testimonial-pics img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin: 0 20px;
  filter: none;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 1px;
}

.testimonial-pics img:hover {
  filter: blur(1px);
}

.testimonial-contents {
  max-width: 600px;
  margin: auto;
  margin-top: 10px;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.testimonial p {
  color: #5c5c5c;
  margin-bottom: 0px;
}

.testimonial .dcrp {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 15px;
}
.sp {
  font-size: 19px;
}
