*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.u-margin-top {
  margin-top: 2rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 4.1rem;
  color: #2e2e32;
}

.heading-logo {
  letter-spacing: 0.4rem;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: normal;
  color: #2e2e32;
}

.heading-primary {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.paragraph {
  font-size: 2.5rem;
}
.paragraph--box {
  width: 62.9rem;
  margin: 0 auto;
  text-align: center;
}

.header {
  background: #fff;
  color: #000;
  z-index: 99;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.header-menu {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
.header-menu__item {
  display: inline-block;
  width: 12rem;
  text-align: center;
  transition: all 0.4s ease-in-out;
}
.header-menu__item:nth-child(2):hover ~ .line {
  transform: translate(12rem);
  transition: all 0.4s ease-in-out;
}
.header-menu__item:nth-child(3):hover ~ .line {
  transform: translate(25rem);
  transition: all 0.4s ease-in-out;
}
.header-menu__item:nth-child(4):hover ~ .line {
  transform: translate(37.5rem);
  transition: all 0.4s ease-in-out;
  width: 30%;
}
.header-menu__item a {
  color: #2e2e32;
}

.line {
  width: 12rem;
  height: 3px;
  background: #000;
  transition: all 0.4s ease-in-out;
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  color: #7d7d80;
  font-size: 2rem;
  border: 1px solid #7d7d80;
  padding: 0.1rem 5rem;
}
.btn:link:hover, .btn:visited:hover {
  color: #d13f73;
  border: 1px solid #d13f73;
}

.book {
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
  border-radius: 1px;
  overflow: hidden;
  -webkit-text-decoration: none;
  /*
  &__img {
    background-image: url("https://gedd.ski/img/flexbox-inspector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 70.0280112%;
    transition-timing-function: ease-out;
    transition-duration: 4s;
    transition-property: transform;
    transform-origin: center center;

    -ms-transform-origin: center center;
    -webkit-transition-timing-function: ease-out;
    -webkit-transform-origin: center center;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 4s;
  }
  */
}
.book__img {
  width: 100%;
}
.book__paragraph {
  background: #1f1d25;
  color: #fff;
  padding: 1rem;
  padding-bottom: 1rem;
  padding-bottom: 0.5rem;
  z-index: 2;
}

.footer {
  background: #000;
  font-size: 3.3rem;
  text-align: center;
  color: #fff;
  padding: 2rem;
  text-transform: uppercase;
}

.info {
  padding: 15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info .paragraph {
  width: 633px;
  text-align: center;
  margin-top: 4rem;
}

.hero {
  padding: 60rem 0;
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  font-size: 3.3rem;
  color: #fff;
  text-align: center;
  font-family: "Raleway";
  position: relative;
}
.hero::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero p {
  position: relative;
  z-index: 2;
}

.book-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-column-gap: 1.3rem;
  grid-row-gap: 2.4rem;
  justify-content: center;
  padding: 6.2rem 4.6rem;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}
.formuser {
  padding: 10%;
  font-size: 200%;
}

/*# sourceMappingURL=style.css.map */
