// colors
$color-gray-light: #7d7d80;
$color-gray-dark: #2e2e32;

$color-pink-light: #d13f73;

$color-primary-light: #009975;

$color-white: #fff;
$color-black: #000;

// spacing
$spacing-small: 2rem;
$spacing-medium: 4rem;
$spacing-large: 8rem;

// font-size;
$font-size-little: 2rem;
$font-size-medium: 2.5rem;
$font-size-large: 3.3rem;
$font-size-big: 4.4rem;
