.footer {
  background: $color-black;
  font-size: $font-size-large;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  align-items: center;
}

svg {
  fill: $color-white;
  width: 50px;
}
