.header {
  background: $color-white;
  color: $color-black;
  z-index: 99;

  padding: 2rem 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  transition: all 0.5s ease-in-out;

  &-menu {
    font-size: $font-size-little;
    letter-spacing: 0.5rem;

    &__item {
      display: inline-block;
      text-align: center;
      transition: all 0.4s ease-in-out;
      cursor: pointer;

      // &:nth-child(2):hover ~ .line {
      //   transform: translate(12rem);
      //   transition: all 0.4s ease-in-out;
      // }

      // &:nth-child(3):hover ~ .line {
      //   transform: translate(25rem);
      //   transition: all 0.4s ease-in-out;
      // }

      // &:nth-child(4):hover ~ .line {
      //   transform: translate(37.5rem);
      //   transition: all 0.4s ease-in-out;

      //   width: 30%;
      // }
      position: relative;
      &:hover {
        border-bottom: solid 1px tomato;
      }

      a {
        color: $color-gray-dark;
        text-decoration: none;
      }
    }
  }
}
